{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Haider Ali</h1>
            <p>Aspiring Python Developer</p>
            <img src="https://st4.depositphotos.com/1458807/31059/v/450/depositphotos_310595452-stock-illustration-anonymous-profile-old-style-glasses.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Experience</h2>
            <p>
                I have been programming, mainly with Python, throughout my teenage years.
                During this time, I have been able to gain experience with frameworks such as Flask,
                as well as using ORMs such as peewee and SQLAlchemy in order to integrate databases
                within applications I have built. I am extremely passionate about programming and I'm
                looking to start working on projects within industry very soon.
            </p>
        </section>
{% endblock %}